<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>elasticmainmenu</name>
    <displayName>ElasticMainMenu</displayName>
    <version>1</version>
    <description>This module allow you to speed up main menu.</description>
    <author>4AD STUDIO</author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>